## local, staging, production
ENV=

## Port number for the server to listen on.
PORT=

## Skip clerk authentication for local environment (for development convenience). Should be set to "true" in local environment and left empty in staging/production.
SKIP_AUTH_FOR_LOCAL_ENV=

AUTHORIZED_PARTIES=
CLERK_SECRET_KEY=

## MongoDB connection settings
DATABASE_URI=
DATABASE_USER=
DATABASE_PASSWORD=
